@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&display=swap');


*{
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  outline: none;
  border: none;
}

body{
  background: rgb(1, 15, 13);
  color: aliceblue;
  font-family: 'Afacad', serif !important;
}

@media screen and (min-width:768px) {
  body{
    margin: 0 auto;
    max-width: 1480px;
  }
}